.sandbox.sheet .principal {
  font-weight: bold;
  color:  #f9f8f5;
  background-color: #3a3a3a;

}

.sandbox.sheet input.ventaja {
  font-weight: bold;
  color: green !important;
  background-color: #e0ffe0; /* opcional: verd clar de fons */
}

.sandbox.sheet input.desventaja {
  font-weight: bold;
  color: red !important;
  background-color: #ffe0e0; /* opcional: vermell clar de fons */
}