.sandbox.sheet .principal {
  font-weight: bold;
  background-color: #3a3a3a; /* gris fosc */
  color: #f1f1f1;            /* lletra clara */
}

.sandbox.sheet input.ventaja {
  font-weight: normal;
  background-color: #f1fff1; /* verd molt clar */
}

.sandbox.sheet input.desventaja {
  font-weight: normal;
  background-color: #fff1f1; /* vermell molt clar */
}

.sandbox.sheet input.cualidad {
  background-color: #f2f2f2; /* gris molt clar */
  color: #333333;            /* gris fosc */
  font-weight: normal;
}