.sandbox.sheet .principal {
  font-weight: bold;
  color:  #f9f8f5;
  background-color: #3a3a3a;

}

.sandbox.sheet .ventaja {
  font-weight: bold;
  color: green;
}

.sandbox.sheet .desventaja {
  font-weight: bold;
  color: red;
}
